[submodule "bas-pruefungsgenerator-web"]
	path = bas-pruefungsgenerator-web
	url = git@github.com:campus-12/bas-pruefungsgenerator-web.git
[submodule "bas-pruefungsgenerator-backend"]
	path = bas-pruefungsgenerator-backend
	url = git@github.com:campus-12/bas-pruefungsgenerator-backend.git
