[submodule "app/BASinteractiveMoviesBackend"]
    path = app/BASinteractiveMoviesBackend
    url = https://github.com/campus-12/BASinteractiveMoviesBackend.git
    branch = develop
[submodule "app/BASinteractiveMoviesFrontend"]
    path = app/BASinteractiveMoviesFrontend
    url = https://github.com/campus-12/BASinteractiveMoviesFrontend.git
    branch = develop
