:80 {
    log {
        output stdout
        format console
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # Frontend mit SPA fallback
    handle {
        root * /app/web
        try_files {path} /index.html
        file_server
    }
}
